<div class="footer-dark">
    <footer>
        <table class="footer-table">
            <thead></thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <p style="font-size: small; color: grey;">Thank you for visiting the B3FL. This site was
                            built
                            by the
                            loving hands of the B3FL tech
                            department. Ethically AI-free.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="height: 30px;"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Owners</h3>
                        <ul>
                            <li><a [routerLink]="['/gm-list']">GM List</a></li>
                            <li><a [routerLink]="['/profiles']">Profiles</a></li>
                            <li><a [routerLink]="['/records']">Records</a></li>
                        </ul>
                    </td>
                    <td>
                        <h3>Matchups</h3>
                        <ul>
                            <li><a [routerLink]="['/matchup-history']">Matchup History</a></li>
                            <li><a [routerLink]="['/survival']">Survival</a></li>
                            <li><a [routerLink]="['/pickems']">Pick'ems</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="copyright">
                            <p>The B3FL © 2025</p>
                            <p>Version 1.1.0</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </footer>
</div>