.pickems-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Vertically aligns both items in the center */
    gap: 8px;
    /* Adjusts the spacing between the select and button */
}

:host ::ng-deep .mat-content.mat-content-hide-toggle {
    margin-right: 0 !important;
}