<ng-container *ngIf="isPickemsLoaded">

    <ng-container *ngIf="demoMode && showDemoModeEnabled">
        <mat-expansion-panel style="width: 350px; background-color:chocolate; margin-bottom: 10px;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Demo Actions
                </mat-panel-title>
                <mat-panel-description>
                    Click to expand and perform demo actions
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div mat-subheader>Hover mouse over button to see what it does</div>
            <mat-action-row class="demo-action-row">
                <button style="background-color: white; color: black;"
                    matTooltip="Click to move the current NFL week forward and process win/loss for each survivor entry"
                    (click)="demoNextWeek.emit()">Move
                    to Next Week</button>
                <button style="background-color: white; color: black;"
                    matTooltip="Click to reset the Survivor Pool to it's starting values"
                    (click)="demoReset.emit()">Reset</button>
                <button style="background-color: white; color: black;"
                    matTooltip="Click to set the current time to 20s before the timer expires"
                    (click)="demoTestTimer.emit()">Test Timer Expiry</button>
            </mat-action-row>
        </mat-expansion-panel>
    </ng-container>

    <div class="flex-centered">
        <mat-card style="background-color: var(--accent-color); width: 600px;">
            <mat-card-content>
                <pickems-survivor-timer [gameState]="gameState"
                    (disableUiComponents)="handleDisableUiComponents()"></pickems-survivor-timer>

                <app-pickems-survivor-warning-info-box [displayMode]="DisplayModeEnum.Warning"
                    [shouldDisplay]="shouldShowWarningNotRegistered"
                    [message]="'You are not registered for Pick\'ems, make at least one pick to register and receive auto-picks if you miss future deadlines'"></app-pickems-survivor-warning-info-box>

                <app-pickems-survivor-warning-info-box [displayMode]="DisplayModeEnum.Warning"
                    [shouldDisplay]="shouldShowWarningToMakePick"
                    [message]="'You have not submitted all your picks yet this week'"></app-pickems-survivor-warning-info-box>

                <div class="pickems-inputs">
                    <mat-form-field style="padding-top: 20px; max-width: 180px;">
                        <mat-label>Choose a Profile</mat-label>
                        <mat-select #profileSelector [(value)]="selectedProfile"
                            (selectionChange)="onProfileSelectionChange($event)">
                            <mat-option *ngFor="let user of profileSelectorOptions" [value]="user">
                                {{ user.username }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field style="padding-top: 20px; max-width: 145px;">
                        <mat-label>Choose a Week</mat-label>
                        <mat-select #weekSelector [(value)]="selectedWeek"
                            (selectionChange)="onWeekSelectionChange($event)">
                            <mat-option *ngFor="let week of weekOptions" [value]="week">
                                Week {{ week }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div>
        <game-pickems-standings-content [currentUser]="currentUser" [dataSource]="dataSourcePickemsScores"
            (reloadPickemsScores)="reloadPickemsScoresInParent()"></game-pickems-standings-content>
    </div>

    <ng-container *ngIf="isPickemsGridPrepared">
        <h1 style="margin-bottom: 50px;">A League</h1>
        <pickems-matchup-grid [pickemsMatchups]="aLeagueMatchups" [isShowPickemsScores]="isShowPickemsScores"
            [hasDoubleDownAvailable]="hasDoubleDownAvailable" [hasTripleDownAvailable]="hasTripleDownAvailable"
            [isCurrentWeekAndPassedDeadline]="isCurrentWeekAndPassedDeadline"
            [isPickemsCurrentlyLoading]="isPickemsEntriesLoading" (tryRemovePickemsPick)="tryRemovePickemsPick($event)"
            (trySubmitPickemsPick)="trySubmitPickemsPick($event)"
            (trySubmitPickemsDoublePick)="trySubmitPickemsDoublePick($event)"
            (trySubmitPickemsTriplePick)="trySubmitPickemsTriplePick($event)"></pickems-matchup-grid>

        <h1 style="margin-bottom: 50px;">B League</h1>
        <pickems-matchup-grid [pickemsMatchups]="bLeagueMatchups" [isShowPickemsScores]="isShowPickemsScores"
            [hasDoubleDownAvailable]="hasDoubleDownAvailable" [hasTripleDownAvailable]="hasTripleDownAvailable"
            [isCurrentWeekAndPassedDeadline]="isCurrentWeekAndPassedDeadline"
            [isPickemsCurrentlyLoading]="isPickemsEntriesLoading" (tryRemovePickemsPick)="tryRemovePickemsPick($event)"
            (trySubmitPickemsPick)="trySubmitPickemsPick($event)"
            (trySubmitPickemsDoublePick)="trySubmitPickemsDoublePick($event)"
            (trySubmitPickemsTriplePick)="trySubmitPickemsTriplePick($event)"></pickems-matchup-grid>
    </ng-container>
</ng-container>