<!-- <div class="pdf-display">
    <embed src="https://drive.google.com/viewerng/
viewer?embedded=true&url=http://54.196.233.29/assets/documents/B3FL_Manifesto.pdf" width="900" height="1100">
</div> -->

<div class="pdf-display">
    <object width="900" height="1100" type="application/pdf"
        data="/assets/documents/B3FL_Manifesto.pdf?#zoom=85&scrollbar=0&toolbar=0&navpanes=0">
        <p>PDF cannot be displayed on mobile browsers. Click <a
                href="https://drive.google.com/file/d/1vjFN2rotRDEK8rMqky_fcMNEKrYrZkuj/view?usp=drive_link">here</a> to
            view it in Google Drive.</p>
    </object>
</div>