<ng-container *ngIf="displayModeWarning">
    <div class="container" *ngIf="shouldDisplay">
        <mat-card class="warning mat-elevation-z0">
            <mat-card-content style="padding: 0;">
                <mat-icon inline="true" style="margin-right: 3px;">warning</mat-icon>
                <strong>Warning:</strong> {{message}}
            </mat-card-content>
        </mat-card>
    </div>
</ng-container>

<ng-container *ngIf="displayModeInfo">
    <div class="container" *ngIf="shouldDisplay">
        <mat-card class="info mat-elevation-z0">
            <mat-card-content style="padding: 0;">
                <mat-icon inline="true" style="margin-right: 3px;">info</mat-icon>
                <strong>Info:</strong> {{message}}
            </mat-card-content>
        </mat-card>
    </div>
</ng-container>

<ng-container *ngIf="displayModeSubmissionLock">
    <div class="container" *ngIf="shouldDisplay">
        <mat-card class="lock mat-elevation-z0">
            <mat-card-content style="padding: 0;">
                <mat-icon inline="true" style="margin-right: 3px;">lock</mat-icon>
                {{message}}
            </mat-card-content>
        </mat-card>
    </div>
</ng-container>