<div *ngIf="statsSource?.initialized() && !loading" class="stats-container">
    <p style="margin: 0; font-size: small; color: grey;">Click header to show / hide more stats</p>

    <mat-expansion-panel class="stats-card" [hideToggle]="true" [expanded]="expanded">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h1 class="win-loss-h1">{{statsSource?.getWinLossString()}}</h1>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div>
            <span>Win % <b>{{statsSource.winPercent.toFixed(3)}}</b></span> <br>
            <span>Total Pts For <b>{{statsSource.totalPtsFor.toFixed(2)}}</b></span> <br>
            <span>Total Pts Against <b>{{statsSource.totalPtsAgainst.toFixed(2)}}</b></span> <br>
            <span>Avg Pts For <b>{{statsSource.avgPtsFor.toFixed(2)}}</b></span> <br>
            <span>Avg Pts Against <b>{{statsSource.avgPtsAgainst.toFixed(2)}}</b></span> <br>

            <div *ngIf="showAdvancedStats">
                <br>
                <span>Championships <b>{{statsSource.titles}}</b></span> <br>
                <span>Best Season <b>{{statsSource.seasonBest}}</b></span> <br>
                <span>Worst Season <b>{{statsSource.seasonWorst}}</b></span> <br>
                <span>Games Played <b>{{statsSource.gamesPlayed}}</b></span> <br>
                <span>Years of Service <b>{{statsSource.yearsPlayed}}</b></span> <br>
                <span>'Nice' Scores <b>{{statsSource.niceWeeks}}</b></span> <br>
            </div>
        </div>
    </mat-expansion-panel>
</div>