<div class="game-container">
    <ng-container *ngIf="currentUser">
        <simple-spinner [loading]="!isGameStateLoaded" [hideRefreshTip]="true"
            [title]="'Loading game data ...'"></simple-spinner>

        <div style="margin-left: 20px; margin-right: 20px;" *ngIf="isGameStateLoaded && gamePhase==0">
            <app-pickems-survivor-warning-info-box [displayMode]="DisplayModeEnum.Info"
                [shouldDisplay]="isGameStateLoaded && gamePhase==0"
                [message]="`Fantasy season hasn\'t started yet! Pick'ems & Survivor Pool will unlock at ${this.gamesUnlockDate}`"></app-pickems-survivor-warning-info-box>
            <!-- <pickems-survivor-timer [gameState]="gameState"
                    [currentUserEliminated]="false"></pickems-survivor-timer> -->
            <ng-container *ngIf="gameUsers && gameUsers.length > 0">
                <div style="height: 20px;"></div>
                <h3>Registered Players</h3>
                @for (item of gameUsers; track item.user_email) {
                <span style="font-size: 18px;"><img src="item.avatarUrl" alt="" width="50" height="50" loading="lazy"
                        onerror="this.onerror=null; this.src='/assets/images/default_avatar.png';"
                        style="margin-right: 10px; vertical-align: middle;">{{ item.username }}</span>
                <br>
                }
            </ng-container>
        </div>

        <!-- user loaded the game state in-season -->
        <div *ngIf="isGameStateLoaded && (gamePhase==1 || gamePhase==2)">
            <div *ngIf="gamePhase==2">
                <h2>Fantasy regular season has finished. Thanks for playing!</h2>
            </div>
            <mat-tab-group class="game-tab-group" animationDuration="200ms" dynamicHeight>
                <mat-tab label="Survivor">
                    <ng-template matTabContent>
                        <game-survivor-pool-content [dataSource]="dataSourceSurvivor" [currentUser]="currentUser"
                            [gameState]="gameState" [made_choices_sleeper_ids]="made_choices_sleeper_ids"
                            [gameUsers]="gameUsers" [userEliminated]="currentSurvivorUserEliminated"
                            [userMissedStart]="currentSurvivorUserMissedStart"
                            [userNeedsToMakePickThisWeek]="currentSurvivorUserNeedsPickForThisWeek"
                            (reloadData)="reloadSurvivorEntries()" (reloadServerTime)="reloadServerTime()"
                            [demoMode]="demoMode" (demoNextWeek)="demo_NextWeek()" (demoReset)="demo_Reset()"
                            (demoTestTimer)="demo_TestTimer()"></game-survivor-pool-content>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Pick'ems">
                    <ng-template matTabContent>
                        <game-pickems-content [currentUser]="currentUser" [pickemsEntries]="pickemsEntries"
                            [weeklyMatchups]="pickemsMatchups" [gameState]="gameState" [gameUsers]="gameUsers"
                            [activeEmails]="activePickemsEmails"
                            [initialProfileValue]="pickemsCurrentProfileSelectorValue"
                            [initialWeekValue]="pickemsCurrentWeekSelectorValue" (reloadServerTime)="reloadServerTime()"
                            (reloadPickemsMatchupsForWeek)="updatePickemsSelectorValuesAndReloadEntries($event)"
                            (reloadPickemsScores)="reloadPickemsScores()"
                            [dataSourcePickemsScores]="dataSourcePickemsScores" [demoMode]="demoMode"
                            (demoNextWeek)="demo_NextWeek()" (demoReset)="demo_Reset()"
                            (demoTestTimer)="demo_TestTimer()"></game-pickems-content>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Schedule">
                    <ng-template matTabContent>
                        <pickems-survivor-calendar [gameSchedule]="gameSchedule"></pickems-survivor-calendar>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </ng-container>
</div>