<div>
    <span style="font-size: 36px; margin-bottom: 40; color: var(--text-color);">NFL Week {{getCurrentWeek()}}</span>

    <p style="font-size: 16px; margin-bottom: 20px; color: var(--text-color);">Picks Must be Submitted by: {{
        getCurrentDeadline()| date: 'medium' }}</p>
</div>
<div class="countdown-container" *ngIf="!currentUserEliminated">
    <div *ngIf="!isExpired" class="timer">
        <div class="time-block">
            <span class="number">{{ days() | number: '2.0-0' }}</span>
            <span class="label">Days</span>
        </div>
        <div class="time-block">
            <span class="number">{{ hours() | number: '2.0-0' }}</span>
            <span class="label">Hrs</span>
        </div>
        <div class="time-block">
            <span class="number">{{ minutes() | number: '2.0-0' }}</span>
            <span class="label">Mins</span>
        </div>
        <div class="time-block">
            <span class="number">{{ seconds() | number: '2.0-0' }}</span>
            <span class="label">Secs</span>
        </div>
    </div>

    <app-pickems-survivor-warning-info-box [displayMode]="DisplayModeEnum.SubmissionLock" [shouldDisplay]="isExpired"
        [message]="getLockMessage"></app-pickems-survivor-warning-info-box>
</div>