<mat-sidenav-container class="menu-background">
  <mat-sidenav #sidenav fixedInViewport="true" mode="over" class="side-nav">

    <mat-nav-list dense class="bg-color">
      <a mat-list-item routerLink="home" (click)="sidenav.toggle()"><mat-icon class="text-color">home</mat-icon><span
          class="home-button-text text-color">Home</span></a>

      <mat-expansion-panel dense expanded class="menu-background">
        <mat-expansion-panel-header class="bg-color">
          <mat-icon class="text-color">sports_football</mat-icon><span class="default-text"> Live</span>
        </mat-expansion-panel-header>
        <mat-nav-list dense (click)="sidenav.toggle()">
          <ng-container *ngIf="showDemo">
            <a mat-list-item routerLink="demo"><span class="text-color">Demo Pick'ems & Survivor Pool
                [BETA]</span> </a>
          </ng-container>
          <a mat-list-item routerLink="play"><span class="text-color">Play Pick'ems & Survivor
              Pool</span></a>
          <a mat-list-item routerLink="live-scores"><span class="text-color">Live Scores</span></a>

          <!--
          these are yet to be implemented
           <a mat-list-item routerLink="upcoming-matchup">Upcoming Matchups</a>
          <a mat-list-item routerLink="playoff-predictor">Playoff Predictor</a>
          <a mat-list-item routerLink="elimination-line">Elimination Line</a> -->
          <!-- <a mat-list-item routerLink="standings">Standings</a>
          <a mat-list-item routerLink="calendar">Calendar</a> -->
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel dense expanded class="menu-background">
        <mat-expansion-panel-header class="bg-color">
          <mat-icon class="text-color">account_circle</mat-icon><span class="default-text">
            Owners</span>
        </mat-expansion-panel-header>
        <mat-nav-list dense (click)="sidenav.toggle()">
          <a mat-list-item routerLink="gm-list"><span class="text-color">List of GMs</span></a>
          <a mat-list-item routerLink="matchup-history"><span class="text-color">Matchup History</span></a>
          <a mat-list-item routerLink="profiles"><span class="text-color">Profiles</span></a>
          <a mat-list-item routerLink="records"><span class="text-color">Records</span></a>
          <a mat-list-item routerLink="drafts"><span class="text-color">Draft History</span></a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel dense expanded class="menu-background">
        <mat-expansion-panel-header class="bg-color">
          <mat-icon class="text-color">video_library</mat-icon><span class="default-text">
            Media</span>
        </mat-expansion-panel-header>
        <mat-nav-list dense (click)="sidenav.toggle()">
          <a mat-list-item routerLink="pistol-guncop"><span class="text-color">Pistol & The Guncops</span></a>
          <a mat-list-item routerLink="jordan-show"><span class="text-color">The Jordan Show</span></a>
          <a mat-list-item routerLink="draft-videos"><span class="text-color">Draft Videos</span></a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel dense expanded class="menu-background">
        <mat-expansion-panel-header class="bg-color">
          <mat-icon class="text-color">info</mat-icon>
          <div><span class="default-text">League Info</span></div>
        </mat-expansion-panel-header>
        <mat-nav-list dense (click)="sidenav.toggle()">
          <a mat-list-item routerLink="manifesto"><span class="text-color">Manifesto</span></a>
        </mat-nav-list>
      </mat-expansion-panel>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <app-top-bar [sideNavRef]="sidenav"></app-top-bar>

    <!-- <div style="padding-left: 15px;">
      <button type="button" mat-button (click)="sidenav.toggle()" style="position: fixed; z-index: 10;">
        <mat-icon>menu</mat-icon><span style="font-size: 20px;">Menu</span>
      </button>
    </div> -->

    <div #mainDiv class="main">
      <router-outlet></router-outlet>
      <!-- <div class="content">
        
      </div> -->
    </div>

    <!-- <div style="min-height: 50px;"></div> -->
    <b3fl-footer></b3fl-footer>

  </mat-sidenav-content>
</mat-sidenav-container>