<div class="live-scores-container">
    <h1>B3FL Live Scores</h1>
    <p>Click on a matchup to see individual player scores</p>
    <p>The refresh button can be used to quickly update scores without a full page reload</p>

    <simple-spinner [loading]="loading"></simple-spinner>

    <ng-container *ngIf="isLoaded() && !isPreseason">
        <h2>{{nflData.year}}</h2>
        <h2>Week {{nflData.week}}</h2>
        <div>
            <button class="refresh-button" [disabled]="refreshButtonDisabled()"
                (click)="refreshDisplayedData()"><mat-icon style="transform: scale(2);">refresh</mat-icon></button>
        </div>
        <br>
        <h1>A League</h1>
        <div class="scores-grid-container">
            <div *ngFor="let matchup of aLeagueMatchups">
                <div *ngIf="matchup.manager_1_sleeper_id && matchup.manager_2_sleeper_id" style="height: auto;"
                    class="matchup-panel">
                    <!-- <img src="/assets/images/flames.gif" alt="" class="top-middle-flames-anchor"> -->
                    <div class="card-content-header">

                        <div class="left-content">
                            <div class="pick-score-container">
                                <mat-label class="player-score-text">{{matchup.manager_1_points}}</mat-label>
                            </div>

                            <div class="player-name-content margin-t-20">
                                <mat-label class="player-name-text">{{matchup.manager_1_team_name}}</mat-label>
                            </div>

                            <img src="{{matchup.manager_1_avatar_url}}" alt="Player Avatar" width=80px height=80px
                                loading="lazy">
                            <br>
                            <div class="player-reals-content">
                                <mat-label class="player-reals-text">{{matchup.manager_1_real_name}}
                                    ({{matchup.manager_1_sleeper_name}})</mat-label>
                            </div>
                        </div>
                        <div class="middle-content">
                            <mat-label class="middle-vs-text"> VS </mat-label>
                        </div>
                        <div class="right-content">
                            <div class="pick-score-container">
                                <mat-label class="player-score-text">{{matchup.manager_2_points}}</mat-label>
                            </div>

                            <div class="player-name-content margin-t-20">
                                <mat-label class="player-name-text">{{matchup.manager_2_team_name}}</mat-label>
                            </div>

                            <img src="{{matchup.manager_2_avatar_url}}" alt="Player Avatar" width=80px height=80px
                                loading="lazy">
                            <br>
                            <div class="player-reals-content">
                                <mat-label class="player-reals-text">{{matchup.manager_2_real_name}}
                                    ({{matchup.manager_2_sleeper_name}})</mat-label>
                            </div>
                        </div>
                    </div>

                    <mat-expansion-panel [hideToggle]="true" [expanded]="false" class="nfl-starters-panel">
                        <mat-expansion-panel-header [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
                            <p style="text-align: center; width: 100%; color: #e7e7e7;">Click here to
                                show/hide NFL starters</p>
                        </mat-expansion-panel-header>

                        <div class="card-content-players">
                            <div class="left-content player-content-left">
                                <div class="player-content-style-left">
                                    <div *ngFor="let data of matchup.manager_1_starters"
                                        style="container-type: inline-size; height: 40px;">
                                        <p>
                                            <span
                                                class="player-content-text-position margin-r-5"><em>{{data.player.position}}</em></span>
                                            <span
                                                class="player-content-text-name margin-r-15">{{data.player.full_name}}</span>
                                            <span class="player-content-text-score"><b>{{data.playerScore}}</b></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="right-content player-content-right">
                                <div class="player-content-style-right">
                                    <div *ngFor="let data of matchup.manager_2_starters"
                                        style="container-type: inline-size; height: 40px;">
                                        <p>
                                            <span
                                                class="player-content-text-score margin-r-15"><b>{{data.playerScore}}</b></span>
                                            <span
                                                class="player-content-text-name margin-r-5">{{data.player.full_name}}</span>
                                            <span
                                                class="player-content-text-position"><em>{{data.player.position}}</em></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </div>
                <div *ngIf="!matchup.manager_1_sleeper_id || !matchup.manager_2_sleeper_id">
                    <p style="color: red;">Missing Sleeper ID! Try refreshing page</p>
                </div>
            </div>
        </div>

        <h1>B League</h1>
        <div class="scores-grid-container">
            <div *ngFor="let matchup of bLeagueMatchups">
                <div *ngIf="matchup.manager_1_sleeper_id && matchup.manager_2_sleeper_id" style="height: auto;"
                    class="matchup-panel">
                    <!-- <img src="/assets/images/flames.gif" alt="" class="top-middle-flames-anchor"> -->
                    <div class="card-content-header">

                        <div class="left-content">
                            <div class="pick-score-container">
                                <mat-label class="player-score-text">{{matchup.manager_1_points}}</mat-label>
                            </div>

                            <div class="player-name-content margin-t-20">
                                <mat-label class="player-name-text">{{matchup.manager_1_team_name}}</mat-label>
                            </div>

                            <img src="{{matchup.manager_1_avatar_url}}" alt="Player Avatar" width=80px height=80px
                                loading="lazy">
                            <br>
                            <div class="player-reals-content">
                                <mat-label class="player-reals-text">{{matchup.manager_1_real_name}}
                                    ({{matchup.manager_1_sleeper_name}})</mat-label>
                            </div>
                        </div>
                        <div class="middle-content">
                            <mat-label class="middle-vs-text"> VS </mat-label>
                        </div>
                        <div class="right-content">
                            <div class="pick-score-container">
                                <mat-label class="player-score-text">{{matchup.manager_2_points}}</mat-label>
                            </div>

                            <div class="player-name-content margin-t-20">
                                <mat-label class="player-name-text">{{matchup.manager_2_team_name}}</mat-label>
                            </div>

                            <img src="{{matchup.manager_2_avatar_url}}" alt="Player Avatar" width=80px height=80px
                                loading="lazy">
                            <br>
                            <div class="player-reals-content">
                                <mat-label class="player-reals-text">{{matchup.manager_2_real_name}}
                                    ({{matchup.manager_2_sleeper_name}})</mat-label>
                            </div>
                        </div>
                    </div>

                    <mat-expansion-panel [hideToggle]="true" [expanded]="false" class="nfl-starters-panel">
                        <mat-expansion-panel-header [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
                            <p style="text-align: center; width: 100%; color: #e7e7e7;">Click here to
                                show/hide NFL starters</p>
                        </mat-expansion-panel-header>

                        <div class="card-content-players">
                            <div class="left-content player-content-left">
                                <div class="player-content-style-left">
                                    <div *ngFor="let data of matchup.manager_1_starters"
                                        style="container-type: inline-size; height: 40px;">
                                        <p>
                                            <span
                                                class="player-content-text-position margin-r-5"><em>{{data.player.position}}</em></span>
                                            <span
                                                class="player-content-text-name margin-r-15">{{data.player.full_name}}</span>
                                            <span class="player-content-text-score"><b>{{data.playerScore}}</b></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="right-content player-content-right">
                                <div class="player-content-style-right">
                                    <div *ngFor="let data of matchup.manager_2_starters"
                                        style="container-type: inline-size; height: 40px;">
                                        <p>
                                            <span
                                                class="player-content-text-score margin-r-15"><b>{{data.playerScore}}</b></span>
                                            <span
                                                class="player-content-text-name margin-r-5">{{data.player.full_name}}</span>
                                            <span
                                                class="player-content-text-position"><em>{{data.player.position}}</em></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </div>
                <div *ngIf="!matchup.manager_1_sleeper_id || !matchup.manager_2_sleeper_id">
                    <p style="color: red;">Missing Sleeper ID! Try refreshing page</p>
                </div>
            </div>
        </div>
    </ng-container>

    <div *ngIf="isLoaded() && isPreseason">
        <h2>{{nflData.year}}</h2>
        <h2>Preseason</h2>
        <p>Live scores will be available once Week 1 of the season starts!</p>
    </div>
</div>