:host {
    display: block;
    /* Allows the component to honor width settings */
    width: 100%;
    /* Forces it to stretch to the parent grid bounds */
}

.landing {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.images-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); */
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 20px;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
}