<ng-container *ngIf="isTablePrepared">
    <div class="timer">

    </div>

    <mat-form-field>
        <mat-label>Choose a GM</mat-label>
        <mat-select [compareWith]="compareUsers" (selectionChange)="onGmSelectionChange($event)"
            [disabled]="disableUiControl">
            <mat-optgroup label='A League' style="font-size: 12px;">
                <mat-option *ngFor="let user of getAlphabetizedUsersForALeague()" [value]="user"
                    [disabled]="isSleeperIdInListOfSurvivorChoices(user.sleeperId_current)">
                    {{ user.name }}
                </mat-option>
            </mat-optgroup>
            <mat-optgroup label='B League' style="font-size: 12px;">
                <mat-option *ngFor="let user of getAlphabetizedUsersForBLeague()" [value]="user"
                    [disabled]="isSleeperIdInListOfSurvivorChoices(user.sleeperId_current)">
                    {{ user.name }}
                </mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>
    <div style="align-items: center; justify-content: center; text-align: center;">
        <button type="button" mat-button (click)="handleSubmitChoiceClick()" [disabled]="disableUiControl">Submit
            Choice</button>
    </div>

    <div class="responsive-table-container">
        <!-- Use tag selectors instead of attribute selectors -->
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8 responsive-table">

            <ng-container matColumnDef="playerUsername">
                <mat-header-cell *matHeaderCellDef> Player </mat-header-cell>
                <mat-cell *matCellDef="let element" [attr.data-label]="'Player'">
                    {{element.playerUsername}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="week1">
                <mat-header-cell *matHeaderCellDef> Week 1 </mat-header-cell>
                <mat-cell *matCellDef="let element" [attr.data-label]="'Week 1'">
                    {{element.week1.choice_gm_name}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="week2">
                <mat-header-cell *matHeaderCellDef> Week 2 </mat-header-cell>
                <mat-cell *matCellDef="let element" [attr.data-label]="'Week 2'">
                    {{element.week2.choice_gm_name}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="week3">
                <mat-header-cell *matHeaderCellDef> Week 3 </mat-header-cell>
                <mat-cell *matCellDef="let element" [attr.data-label]="'Week 3'">
                    {{element.week3.choice_gm_name}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="week4">
                <mat-header-cell *matHeaderCellDef> Week 4 </mat-header-cell>
                <mat-cell *matCellDef="let element" [attr.data-label]="'Week 4'">
                    {{element.week4.choice_gm_name}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="week5">
                <mat-header-cell *matHeaderCellDef> Week 5 </mat-header-cell>
                <mat-cell *matCellDef="let element" [attr.data-label]="'Week 5'">
                    {{element.week5.choice_gm_name}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="week6">
                <mat-header-cell *matHeaderCellDef> Week 6 </mat-header-cell>
                <mat-cell *matCellDef="let element" [attr.data-label]="'Week 6'">
                    {{element.week6.choice_gm_name}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="week7">
                <mat-header-cell *matHeaderCellDef> Week 7 </mat-header-cell>
                <mat-cell *matCellDef="let element" [attr.data-label]="'Week 7'">
                    {{element.week7.choice_gm_name}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="week8">
                <mat-header-cell *matHeaderCellDef> Week 8 </mat-header-cell>
                <mat-cell *matCellDef="let element" [attr.data-label]="'Week 8'">
                    {{element.week8.choice_gm_name}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="week9">
                <mat-header-cell *matHeaderCellDef> Week 9 </mat-header-cell>
                <mat-cell *matCellDef="let element" [attr.data-label]="'Week 9'">
                    {{element.week9.choice_gm_name}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="week10">
                <mat-header-cell *matHeaderCellDef> Week 10 </mat-header-cell>
                <mat-cell *matCellDef="let element" [attr.data-label]="'Week 10'">
                    {{element.week10.choice_gm_name}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="week11">
                <mat-header-cell *matHeaderCellDef> Week 11 </mat-header-cell>
                <mat-cell *matCellDef="let element" [attr.data-label]="'Week 11'">
                    {{element.week11.choice_gm_name}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="week12">
                <mat-header-cell *matHeaderCellDef> Week 12 </mat-header-cell>
                <mat-cell *matCellDef="let element" [attr.data-label]="'Week 12'">
                    {{element.week12.choice_gm_name}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="week13">
                <mat-header-cell *matHeaderCellDef> Week 13 </mat-header-cell>
                <mat-cell *matCellDef="let element" [attr.data-label]="'Week 13'">
                    {{element.week13.choice_gm_name}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="week14">
                <mat-header-cell *matHeaderCellDef> Week 14 </mat-header-cell>
                <mat-cell *matCellDef="let element" [attr.data-label]="'Week 14'">
                    {{element.week14.choice_gm_name}}
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</ng-container>