.score-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.score-table {
    width: 100%;
    max-width: 600px;
}

.score-table-style {
    background-color: var(--accent-color);
    border-collapse: collapse;
}

.score-table-cell {
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
    border-left: none;
    border-right: none;
}