<div class="table-container">
    <table>
        <!-- <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Weight</th>
                <th>Symbol</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of dataSource">
                <td [attr.data-title]="'No.'">{{element.position}}</td>
                <td [attr.data-title]="'Name'">{{element.name}}</td>
                <td [attr.data-title]="'Weight'">{{element.weight}}</td>
                <td [attr.data-title]="'Symbol'">{{element.symbol}}</td>
            </tr>
        </tbody> -->
    </table>
</div>