<div style="display: flex; justify-content: center; align-items: center;">

    <div style="flex: none; width: 100%; max-width: 600px;">

        <mat-expansion-panel [hideToggle]="true" [expanded]="false" class="pickems-scores-panel">
            <mat-expansion-panel-header [collapsedHeight]="'45px'" [expandedHeight]="'45px'">
                <p style="text-align: center; width: 100%; color: var(--text-color); font-size: 18px;">Click Here to
                    Show Standings
                </p>
            </mat-expansion-panel-header>

            <div
                style="display: flex; width: 100%; align-items:center; justify-content: center; color: var(--text-color);">
                <button mat-icon-button aria-label="Refresh"
                    (click)="handleRefresh()"><mat-icon>refresh</mat-icon></button>
            </div>
            <p style="color: var(--text-color); margin: 0;">Refresh</p>

            <div style="height: 20px;"></div>

            <div class="score-container">
                <div class="score-table" *ngIf="scoresAvailable">
                    <table mat-table [dataSource]="dataSource" class=" score-table-style">

                        <ng-container matColumnDef="username">
                            <th mat-header-cell *matHeaderCellDef class="score-table-cell"><span
                                    style="font-size: 18px;"><strong>Player</strong></span></th>
                            <td mat-cell *matCellDef="let player" class="score-table-cell">
                                <img src="{{player.avatarUrl}}" alt="" width="30" height="30" loading="lazy"
                                    onerror="this.onerror=null; this.src='/assets/images/default_avatar.png';"
                                    style="margin-right: 5px; vertical-align: middle;">
                                {{player.username}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="score">
                            <th mat-header-cell *matHeaderCellDef class="score-table-cell"><span
                                    style="font-size: 18px;"><strong>Score</strong></span></th>
                            <td mat-cell *matCellDef="let player" class="score-table-cell"> {{player.score}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <div *ngIf="!scoresAvailable">
                    <p style="color: var(--text-color);">No scores are available yet!</p>
                </div>
            </div>
        </mat-expansion-panel>

    </div>
</div>