<div class="draft-vids-container">
    <mat-card class="input-card">
        <mat-card-content>
            <h1>Draft Lottery Videos</h1>
            <p>Choose a draft year below</p>
            <form>
                <mat-form-field class="form-field-large">
                    <mat-label>Year</mat-label>
                    <mat-select [(ngModel)]="selectValue" name="selectDraftYearValue" #selectDraftYearValue="ngModel"
                        [disabled]="loading">
                        @for (year of yearOptions; track year) {
                        <mat-option [value]="year">{{year}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </form>
        </mat-card-content>
    </mat-card>

    <ng-container *ngIf="selectValue == '2026'">
        <h2>2026 - A League</h2>
        <iframe class="video-content" src="https://drive.google.com/file/d/1PrSWKvEHZxSJs9-iz_KTidNxkpvYbd3r/preview"
            title="2026 A League" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <div style="height: 20px;"></div>

        <h2>2026 - B League</h2>
        <iframe class="video-content"
            src="https://drive.google.com/file/d/16n7o87MypSK6uPmEXBEMJguc11XdYhg9_nr9v-LMtck/preview"
            title="2026 B League" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </ng-container>
    <ng-container *ngIf="selectValue == '2024'">
        <h2>2024</h2>
        <iframe class="video-content" src="https://www.youtube.com/embed/4PjUl4EnFdI"
            title="The B3FL 2024 Draft Selection" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </ng-container>
    <ng-container *ngIf="selectValue == '2023'">
        <h2>2023 - A League Round Robin</h2>
        <iframe class="video-content" src="https://www.youtube.com/embed/JFcnRW8cXTg"
            title="B3FL Champions League - Draft Lotto - Round Robin" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <h2>2023 - A League Finals</h2>
        <iframe class="video-content" src="https://www.youtube.com/embed/WyLNG4e4bw4"
            title="B3FL - Champions League - Draft Lotto -Final Locks" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <h2>2023 - B League</h2>
        <iframe class="video-content" src="https://www.youtube.com/embed/WzBVOaLUm6s"
            title="B3FL - B League - Draft Lotto 2023" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </ng-container>
    <ng-container *ngIf="selectValue == '2022'">
        <h2>2022</h2>
        <iframe class="video-content" src="https://www.youtube.com/embed/9N6fDy7JyxY"
            title="B3FL 2022 Season Draft Race" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </ng-container>

</div>