<div class="flex-centered">
    <mat-card class="card-style">
        <mat-card-content>
            <div *ngIf="underdogStatus == UnderdogEnum.FAVOURITE">
                <img src="/assets/images/pickems-matchup-favourite.png" alt="Favourite" width="60" height="60">
                <br>
                <span style="font-size: 12px;"><strong>Favourite ({{record}})</strong></span>
            </div>

            <div *ngIf="underdogStatus == UnderdogEnum.UNDERDOG">
                <img src="/assets/images/pickems-matchup-underdog.png" alt="Underdog" width="60" height="60">
                <br>
                <span style="font-size: 12px;"><strong>Underdog ({{record}})</strong></span>
            </div>

            <div *ngIf="underdogStatus == UnderdogEnum.EVEN || underdogStatus == UnderdogEnum.UNKNOWN">
                <img src="/assets/images/pickems-matchup-even-2.png" alt="Even" width="60" height="60">
                <br>
                <span style="font-size: 12px;"><strong>Even ({{record}})</strong></span>
            </div>
        </mat-card-content>
    </mat-card>
</div>