<div class="top-bar">
    <div class="float-bar">

        <button class="menu-button" type="button" mat-button (click)="onClick()">
            <mat-icon style="vertical-align: middle; transform: scale(0.6); width: 25px">menu</mat-icon>
            <span class="menu-button-text">Menu</span>
        </button>

        <a style="margin-bottom: 0px;" routerLink="home"><img src="/assets/images/icon.png" alt="B3FL logo" width="60"
                height="60"></a>
        <p style="font-size: 12px; color: rgb(202, 202, 202); height: 1px; margin: 0;">EST. 2010
        </p>
    </div>
</div>